<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head', {
    title: 'Paginas Bellas || Login'
}) %>
  <body>
    <%- include('../partials/header') %>
    <main class="login">
      <section class="login-box">
          <article class="login-form">
            <h2>Ingresa</h2>
          <form action="" class="login-form-info">
              <div class="login-info">
                <input type="email" id="email" name="email" placeholder="Email">
                <label for="email"></label>
              </div>
              <div class="login-info">
                <input type="password" id="password" name="password" placeholder="Contraseña" minlength="8">
                <label for="password"></label>
                <a class="login-pregunta" href="">¿Haz olvidado la contraseña?</a>
              </div>
              <div  class="login-info">
                <input type="checkbox" name="recordarme" id="recordarme">
                <label for="recordarme">Recordarme</label>
                </div>
              <div  class="login-info">
              <button type="submit"><a href="/">Iniciar Sesión</a></button>
            </div>
          <div class="login-info-direcciones" >
          <p>O puedes ingresar con:</p>
          <div class="login-direcciones-paginas">
         <button class="login-direccion-rojo" ><a href="https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&service=mail&sacu=1&rip=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin"><i class="fa-brands fa-google-plus"></i> Google </a></button>
          <button<a class="login-direccion-azul" href="https://es-la.facebook.com/"><i class="fa-brands fa-facebook"></i> Facebook </a></button>
        </div>
        </div>
        <div class="login-info">
            <p>¿Todavia no estas registrado?</p>
           <button type="submit"> <a href="/users/register">Registrate</a></button>
        </div>
        </article>
      </section>
  </main>
  
  <%- include('../partials/footer') %>   
</body>

</html>
