<!-- ACA EL FOOTER -->
<footer class="footer">
  
    <section class="footer__section">

      <article class="footer__section__redes">
        <h4>Síguenos en</h4>
        <ul class="footer__redes">
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        </ul>
      </article>

      <article class="footer__section__tematicas">
        <h4>TEMÁTICA</h4>
        <ul class="footer__list">
          <li><a href="#">Infantil</a></li>
          <li><a href="#">Jóvenes</a></li>
          <li><a href="#">Adultos</a></li>
          <li><a href="#">Los más vendidos</a></li>
        </ul>
      </article>

      <article class="footer__section__autores">
        <h4>Autores</h4>
        <ul class="footer__autores">
          <li><a href="#">Carmen Mola</a></li>
          <li><a href="#">Joana Marcús</a></li>
          <li><a href="#">Vicente Vallés</a></li>
          <li><a href="#">Mikerack</a></li>
        </ul>
      </article>
    </section>  

    <section class="footer__final"> 

      <article class="footer__section__logo">
        <a href="#"><img src="/images/logo-negro.png" alt=""></a>
        <h5>Páginas Bellas</h5>
      </article>

      <article class="footer__section__creditos">
        <a href="#">Preguntas frecuentes</a>
        <a href="#">Conocénos</a>
        <a href="#">Contactanos</a>
        <a href="#">Condiciones de uso</a>
        <a href="#">Política de cookies</a>
        <a href="#">Política de privacidad</a>
      </article>

      <article class="footer__section__copyright">
        <p>Copyright © 2022 Páginas Bellas</p>
        <p>Todos los derechos reservados</p>
      </article>
    </section>   

  </footer>