<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: 'ADMIN || LISTA' }) %>

    <body class="body-smoker">
        <%- include('partials/admin-header') %>
            
            <main class="col-12 col-md-10 col-lg-8 mx-auto">
                
                <section class="ag-smoke-block">
                    <h2 style="text-align: center; color: white; font-size: 24px;">Bienvenidos al panel de Administrador</h2>
                    <div class="ag-smoke-1"><img src="https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-smoke-img/images/smoke-1.png"></div>
                    <div class="ag-smoke-1 ag-smoke__delay-1"><img src="https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-smoke-img/images/smoke-1.png"></div>
                    <div class="ag-smoke-1 ag-smoke__delay-2"><img src="https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-smoke-img/images/smoke-1.png"></div>
                    <div class="ag-smoke-2"><img src="https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-smoke-img/images/smoke-2.png"></div>
                    <div class="ag-smoke-2 ag-smoke__delay-1"><img src="https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-smoke-img/images/smoke-2.png"></div>
                    <div class="ag-smoke-2 ag-smoke__delay-2"><img src="https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-smoke-img/images/smoke-2.png"></div>
                    <div class="ag-smoke-3"><img src="https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-smoke-img/images/smoke-3.png"></div>
                    <div class="ag-smoke-3 ag-smoke__delay-1"><img src="https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-smoke-img/images/smoke-3.png"></div>
                    <div class="ag-smoke-3 ag-smoke__delay-2"><img src="https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-smoke-img/images/smoke-3.png"></div>
                    <div class="ag-smoke-4"><img src="https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-smoke-img/images/smoke-4.png"></div>
                    <div class="ag-smoke-4 ag-smoke__delay-1"><img src="https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-smoke-img/images/smoke-4.png"></div>
                    <div class="ag-smoke-4 ag-smoke__delay-2"><img src="https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/animation-smoke-img/images/smoke-4.png"></div>
                    <div class="ag-format-container">
                
                    </div>
                  </section>
                  
                <div class="loader"></div>
               <!--  <ol class="list-group list-group-numbered">
                    <h1>EN PROCESO</h1>
                    <img src="/images/F2.PNG" alt="imagen en proceso" srcset="" width="50%">
                </ol> -->

            </main>
            <script src="/public/js/admin.js"></script>
    </body>
</html>