<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {
        title: 'ADMIN || LISTA'
    }) %>
<body>
    <%- include('partials/admin-header') %>
  
    <main class="col-12 col-md-10 col-lg-8 mx-auto">
        <ul>
          <li><a href="/admin/creation">Agregar productos</a></li>
        </ul>
        <h3>Lista de productos</h3>
  
          <ol class="list-group list-group-numbered">
          <h1>EN PROCESO</h1>
          <img src="/images/F2.PNG" alt="imagen en proceso" srcset=""width="50%">
            </ol>
  
      </main>

  
  <%- include('./partials/footer')  %> 
  
</body>
</html>