<!DOCTYPE html>
<html>
  <%- include('partials/head', {
    title: 'Paginas Bellas || Contact'
}) %>

<body>
  <%- include('partials/header') %>

  <main class="contact">
    <section class="page-contact">
        <article class="contact-article">
            <h2>CONTACTA CON NOSOTROS</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae assumenda sunt rerum, commodi inventore atque. Veritatis libero officia dolorum vel minus impedit laudantium ab, non deleniti, voluptatibus ipsam, quaerat maxime?</p>
        <div>
            <h4><i class="fa-solid fa-map-location-dot"></i>DIRECCION</h4>
            <div class="article-div">
            <p> Argentina: 
                <a href="">Buenos aires</a>
                <a href="">Salta</a>
                <a href="">Cordoba</a>
                <a href="">Neuquen</a>
                <a href="">Santa Cruz</a>
                <a href="">Misiones</a>
                </p> 
            <p>Bolivia:
                <a href="">La Paz</a> 
                <a href="">Potosi</a>
                <a href="">Santa Cruz de la Sierra</a>
            </p> 
            <p>Brasil: 
                <a href="">Rio de Janeiro</a>
                <a href="">Sao Paulo</a>
                <a href="">Brasilia</a>
            </p>
            <p> Chile: 
                <a href="">Santiago</a>
                <a href="">Valparaiso</a>
            </p>
            <p>Colombia: 
                <a href="">Bogota</a>
                <a href="">Medellin</a>
                <a href="">Cartagena</a>
                <a href="">Cali</a>
            </p>
            <p>Ecuador: 
                <a href="">Quito</a>
            </p>
            <p>Paraguay:
                <a href="">Asuncion</a>
            </p>
            <p>Peru: 
                <a href="">Lima</a>
                <a href="">Cuzco</a>
            </p>
            <p>Venezuela: 
                <a href="">Caracas</a>
                <a href="">Merida</a>
            </p>
            <p>Uruguay: 
                <a href="">Colonia</a>
                <a href="">Florida</a>
                <a href="">Montevideo</a>
            </div>
        </div>
        <div>
            <h4><i class="fa-solid fa-phone"></i>TELEFONO</h4>
            <div class="article-div">
            <p>Argentina: +54 9 11 16151476</p> 
            <p>Bolivia: +591 11 16151476</p> 
            <p>Brasil: +55 11 16151476</p>
            <p>Chile: +56 11 16151476</p>
            <p>Colombia: +57 11 16151476</p>
            <p>Ecuador: +593 11 16151476</p>
            <p>Paraguay: +595 11 16151476</p>
            <p>Peru: +51 11 16151476</p>
            <p>Venezuela: +58 11 16151476</p>
            <p>Uruguay: +598 11 16151476</p>
        </div>
        </div>
        <div>
            <h4><i class="fa-solid fa-envelope"></i> EMAIL</h4>
            <p class="article-p"> <a href="https://www.google.com/intl/es-419/gmail/about/">paginasbellas@gmail.com</a></p>
        </div>
        </article>
        <div class="contact-image">
            <img src="/images/contact.jpg" alt="" id="image">
        </div>
        
    </section>
    
  </main>
  <%- include('partials/footer') %>
</body>

</html>