<!DOCTYPE html>
<html>
  <%- include('partials/head', {
    title: 'Paginas Bellas || Contact'
}) %>

<body>
  <%- include('partials/header') %>

  <main class="contact">
    <section class="page-contact">
        <article class="contact-article">
            <h2>CONTACTA CON NOSOTROS</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae assumenda sunt rerum, commodi inventore atque. Veritatis libero officia dolorum vel minus impedit laudantium ab, non deleniti, voluptatibus ipsam, quaerat maxime?</p>
        <div>
            <h4><i class="fa-solid fa-map-location-dot"></i>DIRECCION</h4>
            <div class="article-div">
            <p> Argentina: 
                <a href="">Buenos aires</a>
                <a href="">Salta</a>
                <a href="">Cordoba</a>
                <a href="">Neuquen</a>
                <a href="">Santa Cruz</a>
                <a href="">Misiones</a>
                </p> 
            <p>Bolivia:
                <a href="">La Paz</a> 
                <a href="">Potosi</a>
                <a href="">Santa Cruz de la Sierra</a>
            </p> 
            <p>Brasil: 
                <a href="">Rio de Janeiro</a>
                <a href="">Sao Paulo</a>
                <a href="">Brasilia</a>
            </p>
            <p> Chile: 
                <a href="">Santiago</a>
                <a href="">Valparaiso</a>
            </p>
            <p>Colombia: 
                <a href="">Bogota</a>
                <a href="">Medellin</a>
                <a href="">Cartagena</a>
                <a href="">Cali</a>
            </p>
            <p>Ecuador: 
                <a href="">Quito</a>
            </p>
            <p>Paraguay:
                <a href="">Asuncion</a>
            </p>
            <p>Peru: 
                <a href="">Lima</a>
                <a href="">Cuzco</a>
            </p>
            <p>Venezuela: 
                <a href="">Caracas</a>
                <a href="">Merida</a>
            </p>
            <p>Uruguay: 
                <a href="">Colonia</a>
                <a href="">Florida</a>
                <a href="">Montevideo</a>
            </div>
        </div>
        <div>
            <h4><i class="fa-solid fa-phone"></i>TELEFONO</h4>
            <div class="article-div">
            <p>Argentina: +54 9 11 16151476</p> 
            <p>Bolivia: +591 11 16151476</p> 
            <p>Brasil: +55 11 16151476</p>
            <p>Chile: +56 11 16151476</p>
            <p>Colombia: +57 11 16151476</p>
            <p>Ecuador: +593 11 16151476</p>
            <p>Paraguay: +595 11 16151476</p>
            <p>Peru: +51 11 16151476</p>
            <p>Venezuela: +58 11 16151476</p>
            <p>Uruguay: +598 11 16151476</p>
        </div>
        </div>
        <div id="contact-form">
            <h4><i class="fa-solid fa-envelope"></i>Dejanos tus consultas</h4>
            <form class="form-consult" action="">
                <div class="form-input">
                <label for="name"></label>
                <input type="text" name="name" placeholder="Nombre">
                </div>
                <div class="form-input">
                <label for="email"></label>
                <input type="email" name="email" placeholder="Email">
                </div>
                <div class="form-input">
                <label for="msg"></label>
                <textarea name="msg" cols="15" rows="5" placeholder="Comentario"></textarea>
                </div>
                <div class="form-input-button">
                <button type="submit" value="Enviar" class="enviar">Enviar</button>
                </div>
                <input type="hidden" name="_next" value="http://localhost:3030/">
                <input type="hidden" name="_captcha" value="false">
            </form>
        </div>
        </article>
        <div class="contact-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.342948560547!2d-58.400158684900944!3d-34.59548846456943!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca96f0529559%3A0xa5e4f2aec5e803eb!2sAv.%20Santa%20Fe%202200-2102%2C%20C1123AAQ%20CABA!5e0!3m2!1ses-419!2sar!4v1660848018664!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        
    </section>
    
  </main>
  <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
</script>
<script src="/js/contact.js"></script>
  <%- include('partials/footer') %>
</body>

</html>