<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <body>
    <header class="header">
      <a href="/" class="logo"><img src="/images/logo-negro.png" alt="logo" /></a>
  
      <nav class="navbar">
        <ul class="nav_links">
          <li><a href="/">Inicio</a></li>
          <li><a href="/products">Productos</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </nav>
  
      <div class="nav-search">
        <input type="text" class="nav-search-input" placeholder="Buscar..." />
        <svg class="lupa" width="512" height="512" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M505 442.7L405.3 343C400.8 338.5 394.7 336 388.3 336H372C399.6 300.7 416 256.3 416 208C416 93.1 322.9 0 208 0C93.1 0 0 93.1 0 208C0 322.9 93.1 416 208 416C256.3 416 300.7 399.6 336 372V388.3C336 394.7 338.5 400.8 343 405.3L442.7 505C452.1 514.4 467.3 514.4 476.6 505L504.9 476.7C514.3 467.3 514.3 452.1 505 442.7ZM208 336C137.3 336 80 278.8 80 208C80 137.3 137.2 80 208 80C278.7 80 336 137.2 336 208C336 278.7 278.8 336 208 336Z"
            fill="#A9A4A4" />
        </svg>
      </div>
  
      <div class="menu-button"><i class="fa-solid fa-bars"></i></div>
  
      <div class="icons">
        <a class="cart" href="/product-cart"><i class="fas fa-shopping-cart"></i></a>
        <a class="user" href="/login"><i class="fas fa-user-circle"></i></a>
      </div>
    </header>
  
    <main class="home">
  
      <div class="home__banner"><img src="/images/fondoHome.jpg" alt="" /></div>
  
      <section class="home__categorias__titulo">
        <h3>Categorías</h3>
      </section>
  
      <section class="home__categorias">
        <article class="home__categorias__niños">
          <div class="home__categorias__niños__circle">
            <a href="#"><img src="/images/book-kids.png" alt="" /></a>
          </div>
          <a href="" class="home__categorias__niños__texto1">
            <h3>NIÑOS</h3>
          </a>
        </article>
  
        <article class="home__categorias__jovenes">
          <div class="home__categorias__jovenes__circle">
            <a href="#"><img src="/images/book-jovs.png" alt="" /></a>
          </div>
          <a href="#" class="home__categorias__niños__texto2">
            <h3>JÓVENES</h3>
          </a>
        </article>
  
        <article class="home__categorias__adultos">
          <div class="home__categorias__adultos__circle">
            <a href="#"><img src="/images/book-adults.png" alt="" /></a>
          </div>
          <a href="" class="home__categorias__niños__texto3">
            <h3>ADULTOS</h3>
          </a>
        </article>
      </section>
  
      <section class="home__best-sellers__titulo">
        <h3>Best sellers</h3>
      </section>
  
      <section class="home__best-sellers">
        <article class="home__best-sellers__producto1">
          <div class="home__best-sellers__producto1__circulo">
            <a href="/product-detail"><img src="/images/bestia.png" alt="libro La Bestia"></a>
          </div>
          <div class="home__best-sellers__producto1__transparente"></div>
          <div class="titulo">
            <h5><a href="/product-detail" title="La Bestia">La Bestia</a></h5>
          </div>
          <div class="autor">
            <p>Carmen Mola</p>
          </div>
          <div class="precio">
            <span class="libro1">$2800</span>
          </div>
          <div class="home__best-sellers__producto1__estrellas">
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
              class="fas fa-star"></i>
          </div>
        </article>
  
        <article class="home__best-sellers__producto2">
          <div class="home__best-sellers__producto2__circulo">
            <a href="#"><img src="/images/fuego.png" alt=""></a>
          </div>
          <div class="home__best-sellers__producto2__transparente"></div>
          <div class="titulo">
            <h5><a href="#" title="Trilogía Fuego">Trilogía Fuego </a></h5>
          </div>
          <div class="autor">
            <p>Joana Marcús</p>
          </div>
          <div class="precio">
            <span class="libro2">$2200</span>
          </div>
          <div class="home__best-sellers__producto2__estrellas">
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
              class="fas fa-star-half-alt"></i>
          </div>
        </article>
  
        <article class="home__best-sellers__producto3">
          <div class="home__best-sellers__producto3__circulo">
            <a href="#"><img src="/images/kazan.png" alt=""></a>
          </div>
          <div class="home__best-sellers__producto3__transparente"></div>
          <div class="titulo">
            <h5><a href="#" title="Operación kazán">Operación Kazán</a></h5>
          </div>
          <div class="autor">
            <p>Vicente Vallés</p>
          </div>
          <div class="precio">
            <span class="libro3">$8000</span>
          </div>
          <div class="home__best-sellers__producto3__estrellas">
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
              class="fas fa-star-half-alt"></i>
          </div>
        </article>
  
        <article class="home__best-sellers__producto4">
          <div class="home__best-sellers__producto4__circulo">
            <a href="#"><img src="/images/mike.png" alt=""></a>
          </div>
          <div class="home__best-sellers__producto4__transparente"></div>
          <div class="titulo">
            <h5><a href="#" title="Mikecrack y la estrella maldita">Mikecrack y la...</a></h5>
          </div>
          <div class="autor">
            <p>Mikecrack</p>
          </div>
          <div class="precio">
            <span class="libro4">$2700</span>
          </div>
          <div class="home__best-sellers__producto4__estrellas">
            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
              class="fas fa-star"></i>
          </div>
        </article>
  
      </section>
  
    </main>
  
    <footer class="footer">
  
      <section class="footer__section">
  
        <article class="footer__section__redes">
          <h4>Síguenos en</h4>
          <ul class="footer__redes">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          </ul>
        </article>
  
        <article class="footer__section__tematicas">
          <h4>TEMÁTICA</h4>
          <ul class="footer__list">
            <li><a href="#">Infantil</a></li>
            <li><a href="#">Jóvenes</a></li>
            <li><a href="#">Adultos</a></li>
            <li><a href="#">Los más vendidos</a></li>
          </ul>
        </article>
  
        <article class="footer__section__autores">
          <h4>Autores</h4>
          <ul class="footer__autores">
            <li><a href="#">Carmen Mola</a></li>
            <li><a href="#">Joana Marcús</a></li>
            <li><a href="#">Vicente Vallés</a></li>
            <li><a href="#">Mikerack</a></li>
          </ul>
        </article>
      </section>  
  
      <section class="footer__final"> 
  
        <article class="footer__section__logo">
          <a href="#"><img src="/images/logo-negro.png" alt=""></a>
          <h5>Páginas Bellas</h5>
        </article>
  
        <article class="footer__section__creditos">
          <a href="#">Preguntas frecuentes</a>
          <a href="#">Conocénos</a>
          <a href="#">Contactanos</a>
          <a href="#">Condiciones de uso</a>
          <a href="#">Política de cookies</a>
          <a href="#">Política de privacidad</a>
        </article>
  
        <article class="footer__section__copyright">
          <p>Copyright © 2022 Páginas Bellas</p>
          <p>Todos los derechos reservados</p>
        </article>
      </section>   
  
      
  
    </footer>
  </body>
</html>
