<!DOCTYPE html>
  <html lang="en">
  
      <%- include('partials/head') %>
      <body>
        <%- include('partials/header') %>
  

<main class="productCart">
    <h2>Mi Carrito</h2>
    <section class="productCart-product">
        <div class="productCart-Titulos">
        <h4 >Productos</h4>
        <h4>Precio por unidad</h4>
        <h4>Cantidad</h4>
        <h4>Eliminar</h4>
    </div>
        <article class="productCart-Article">
            <div class="article-img">
            <a href="/product/detail/"> <img src="/images/bestia.png" alt="bestia"></a>
        </div>
        <div class="info-article">
            <div class="info-article-titulos">
            <a href="/product/detail/">La bestia</a>
            <span>Carmen Mola</span>
            <p>Libro</p>
            </div>
            <div class="info-article-funciones">
            <p>$2800</p>
            <input class="productCart-input" type="number" placeholder="1">
            <a class="article-trash" href=""><i class="fa-regular fa-trash-can"></i></a>
        </div>
            </div>
            
 
        </article>
        <article class="productCart-Article">
            <div class="article-img"> 
                <a href="/products/detail"><img src="/images/kazan.png" alt="kazan"></a></div>
            <div class="info-article">
                <div class="info-article-titulos">
                <a href="">Operacion kazan</a>
                <span>Vicente Valles</span>
                <p>Libro</p>
            </div>
            <div class="info-article-funciones">
                <p>$8000</p>
                <input type="number" placeholder="1">
                <a class="article-trash" href=""><i class="fa-regular fa-trash-can"></i></a>
            </div>
        </div>
        </article>
        <article class="productCart-Article">
            <div class="article-img"> <a href=""><img src="/images/fuego.png" alt="Fuego"></a>
            </div>
            <div class="info-article">
                <div class="info-article-titulo">
                    <a href="/products/detail/">Trilogia Fuego</a>
                    <span>Joana Marcus</span>
                    <p>Audio libro</p>
                </div>
                <div class="info-article-funciones">
                    <p>$2200</p>
                    <input  type="number" placeholder="1">
                    <a class="article-trash" href=""><i class="fa-regular fa-trash-can"></i></a>
                </div>
            </div>
        </article>
    </section>
    <section class="productCart-infoEstado">
        <section class="productCart-infoEspecifica">
            <p>Cupon de descuento</p>
            <input type="text">
            <a href=""><button>Añadir</button></a>
        </section>
        <section class="productCart-infoEspecifica">
            <p>Formas de pago</p>
            <a href="">Agregar Metodo</a>
        </section>
        <section class="productCart-infoEspecifica">
            <p>Metodo de Envio</p>
            <a href="">Calcular costos de envios</a>
    </section>
    <section class="productCart-infoEspecifica" id="productCart-Total">
        <div class="productCart-span">
            <span>Total</span>
            <span>$7700</span>
        </div>
            <a class="productCart-button" href=""><button>Comprar</button></a>
        </section>
    </section>
</main>
<%- include('partials/footer') %>   
</body>

</html>
