.admin-body{
background:rgba(105, 91, 82, 0.877);
}
#logo{
  width: 100px;
}
.admin {
    height: 100%;
  }
  .ag-format-container {
    margin: 0 auto;
  }
  
  
  img {
    max-width: 100%;
  }
  
  .body-smoker {
    background: #1a1515;
  }
  
  .ag-smoke-1 {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
  
    -webkit-animation: an-smoke-1 3s ease-in-out infinite;
    -moz-animation: an-smoke-1 3s ease-in-out infinite;
    -o-animation: an-smoke-1 3s ease-in-out infinite;
    animation: an-smoke-1 3s ease-in-out infinite;
  }
  .ag-smoke-2 {
    width: 50px;
  
    z-index: -2;
    top: 7px;
  }
  .ag-smoke-2,
  .ag-smoke-3 {
    position: absolute;
    left: 0;
  
    -webkit-animation: an-smoke-2 6s ease-in-out infinite;
    -moz-animation: an-smoke-2 6s ease-in-out infinite;
    -o-animation: an-smoke-2 6s ease-in-out infinite;
    animation: an-smoke-2 6s ease-in-out infinite;
  }
  .ag-smoke-3 {
    width: 100%;
  
    z-index: -4;
    top: -32px;
  }
  .ag-smoke-4 {
    width: 50px;
  
    z-index: -3;
    position: absolute;
    top: 12px;
    right: 0;
  
    -webkit-animation: an-smoke-3 6s ease-in-out infinite;
    -moz-animation: an-smoke-3 6s ease-in-out infinite;
    -o-animation: an-smoke-3 6s ease-in-out infinite;
    animation: an-smoke-3 6s ease-in-out infinite;
  }
  .ag-smoke__delay-1 {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
  }
  .ag-smoke__delay-2 {
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    -o-animation-delay: 4s;
    animation-delay: 4s;
  }
  
  @-webkit-keyframes an-smoke-1 {
    0% {
      opacity: 0;
  
      -webkit-transform: translateY(5%) rotate(.01deg);
      transform: translateY(5%) rotate(.01deg);
    }
    50% {
      opacity: .9;
    }
    to {
      opacity: 0;
  
      -webkit-transform: translateY(0) rotate(.01deg);
      transform: translateY(0) rotate(.01deg);
    }
  }
  @-moz-keyframes an-smoke-1 {
    0% {
      opacity: 0;
  
      -moz-transform: translateY(5%) rotate(.01deg);
      transform: translateY(5%) rotate(.01deg);
    }
    50% {
      opacity: .9;
    }
    to {
      opacity: 0;
  
      -moz-transform: translateY(0) rotate(.01deg);
      transform: translateY(0) rotate(.01deg);
    }
  }
  @-o-keyframes an-smoke-1 {
    0% {
      opacity: 0;
  
      -o-transform: translateY(5%) rotate(.01deg);
      transform: translateY(5%) rotate(.01deg);
    }
    50% {
      opacity: .9;
    }
    to {
      opacity: 0;
  
      -o-transform: translateY(0) rotate(.01deg);
      transform: translateY(0) rotate(.01deg);
    }
  }
  @keyframes an-smoke-1 {
    0% {
      opacity: 0;
  
      -webkit-transform: translateY(5%) rotate(.01deg);
      -moz-transform: translateY(5%) rotate(.01deg);
      -o-transform: translateY(5%) rotate(.01deg);
      transform: translateY(5%) rotate(.01deg);
    }
    50% {
      opacity: .9;
    }
    to {
      opacity: 0;
  
      -webkit-transform: translateY(0) rotate(.01deg);
      -moz-transform: translateY(0) rotate(.01deg);
      -o-transform: translateY(0) rotate(.01deg);
      transform: translateY(0) rotate(.01deg);
    }
  }
  
  @-webkit-keyframes an-smoke-2 {
    0% {
      opacity: 0;
  
      -webkit-transform: translate(-10%, 10%) rotate(.01deg);
      transform: translate(-10%, 10%) rotate(.01deg);
    }
    50% {
      opacity: .9;
    }
    to {
      opacity: 0;
  
      -webkit-transform: translateY(5%) rotate(.01deg);
      transform: translateY(5%) rotate(.01deg);
    }
  }
  @-moz-keyframes an-smoke-2 {
    0% {
      opacity: 0;
  
      -moz-transform: translate(-10%, 10%) rotate(.01deg);
      transform: translate(-10%, 10%) rotate(.01deg);
    }
    50% {
      opacity: .9;
    }
    to {
      opacity: 0;
  
      -moz-transform: translateY(5%) rotate(.01deg);
      transform: translateY(5%) rotate(.01deg);
    }
  }
  @-o-keyframes an-smoke-2 {
    0% {
      opacity: 0;
  
      -o-transform: translate(-10%, 10%) rotate(.01deg);
      transform: translate(-10%, 10%) rotate(.01deg);
    }
    50% {
      opacity: .9;
    }
    to {
      opacity: 0;
  
      -o-transform: translateY(5%) rotate(.01deg);
      transform: translateY(5%) rotate(.01deg);
    }
  }
  @keyframes an-smoke-2 {
    0% {
      opacity: 0;
  
      -webkit-transform: translate(-10%, 10%) rotate(.01deg);
      -moz-transform: translate(-10%, 10%) rotate(.01deg);
      -o-transform: translate(-10%, 10%) rotate(.01deg);
      transform: translate(-10%, 10%) rotate(.01deg);
    }
    50% {
      opacity: .9;
    }
    to {
      opacity: 0;
  
      -webkit-transform: translateY(5%) rotate(.01deg);
      -moz-transform: translateY(5%) rotate(.01deg);
      -o-transform: translateY(5%) rotate(.01deg);
      transform: translateY(5%) rotate(.01deg);
    }
  }
  
  @-webkit-keyframes an-smoke-3 {
    0% {
      opacity: 0;
  
      -webkit-transform: translateY(10%) rotate(.01deg);
      transform: translateY(10%) rotate(.01deg);
    }
    50% {
      opacity: .9;
    }
    to {
      opacity: 0;
  
      -webkit-transform: translate(-10%, 5%) rotate(.01deg);
      transform: translate(-10%, 5%) rotate(.01deg);
    }
  }
  @-moz-keyframes an-smoke-3 {
    0% {
      opacity: 0;
  
      -moz-transform: translateY(10%) rotate(.01deg);
      transform: translateY(10%) rotate(.01deg);
    }
    50% {
      opacity: .9;
    }
    to {
      opacity: 0;
  
      -moz-transform: translate(-10%, 5%) rotate(.01deg);
      transform: translate(-10%, 5%) rotate(.01deg);
    }
  }
  @-o-keyframes an-smoke-3 {
    0% {
      opacity: 0;
  
      -o-transform: translateY(10%) rotate(.01deg);
      transform: translateY(10%) rotate(.01deg);
    }
    50% {
      opacity: .9;
    }
    to {
      opacity: 0;
  
      -o-transform: translate(-10%, 5%) rotate(.01deg);
      transform: translate(-10%, 5%) rotate(.01deg);
    }
  }
  @keyframes an-smoke-3 {
    0% {
      opacity: 0;
  
      -webkit-transform: translateY(10%) rotate(.01deg);
      -moz-transform: translateY(10%) rotate(.01deg);
      -o-transform: translateY(10%) rotate(.01deg);
      transform: translateY(10%) rotate(.01deg);
    }
    50% {
      opacity: .9;
    }
    to {
      opacity: 0;
  
      -webkit-transform: translate(-10%, 5%) rotate(.01deg);
      -moz-transform: translate(-10%, 5%) rotate(.01deg);
      -o-transform: translate(-10%, 5%) rotate(.01deg);
      transform: translate(-10%, 5%) rotate(.01deg);
    }
  }
  
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
  }
  
  @media only screen and (max-width: 639px) {
  
  }
  
  @media only screen and (max-width: 479px) {
  
  }
  
  @media (min-width: 768px) and (max-width: 979px) {
    .ag-format-container {
      width: 750px;
    }
  
  }
  
  @media (min-width: 980px) and (max-width: 1161px) {
    .ag-format-container {
      width: 960px;
    }
  
  }
  
 .admin {
    background-color: #292929;
    overflow: hidden;
  }

  
  .nav-bar a {
    position: relative;
    width: 33.333%;
    display: table-cell;
    text-align: center;
    color: #949494;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.2s ease color;
  }
  
  
  .nav-bar a:before {
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
  }
  
  .nav-bar a:after {
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px;
  }
  
  #indicator {
    position: absolute;
    left: 5%;
    bottom: 0;
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.2s ease left;
  }
  
  .nav-bar a:hover {
    color: #fff;
  }
  
  nav a:hover:before,
  nav a:hover:after {
    transform: scale(1);
  }
  
  

 .form-admin {
  --input-text-color: #fff;
  --input-bg-color: #bbb678;
  --focus-input-bg-color: transparent;
  --text-color: #869fb8;
  --active-color: #a1b6c4;
  --width-of-input: 400px;
  --inline-padding-of-input: 1.2em;
  --gap: 0.9rem;
}
/* form style */
.form-admin {
  font-size: 0.9rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: var(--width-of-input);
  position: relative;
  isolation: isolate;
}
/* a fancy bg for showing background and border when focus. */
.fancy-bg {
  position: absolute;
  width: 100%;
  inset: 0;
  background: var(--input-bg-color);
  border-radius: 30px;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  box-shadow: rgba(156, 59, 59, 0.16) 0px 1px 4px;
}
/* label styling */
label {
  width: 100%;
  padding: 0.8em;
  height: 40px;
  padding-inline: var(--inline-padding-of-input);
  display: flex;
  align-items: center;
}

.search,.close-btn {
  position: absolute;
}
/* styling search-icon */
.search {
  fill: var(--text-color);
  left: var(--inline-padding-of-input);
}
/* svg -- size */
svg {
  width: 17px;
  display: block;
}
/* styling of close button */
.close-btn {
  border: none;
  right: var(--inline-padding-of-input);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0.1em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--active-color);
  opacity: 0;
  visibility: hidden;
}
/* styling of input */
.input {
  color: var(--input-text-color);
  width: 100%;
  margin-inline: min(2em,calc(var(--inline-padding-of-input) + var(--gap)));
  background: none;
  border: none;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: var(--text-color)
}
/* input background change in focus */
.input:focus ~ .fancy-bg {
  border: 1px solid var(--active-color);
  background: var(--focus-input-bg-color);
}
/* search icon color change in focus */
.input:focus ~ .search {
  fill: var(--active-color);
}
/* showing close button when typing */
.input:valid ~ .close-btn {
  opacity: 1;
  visibility: visible;
}
/* this is for the default background in input,when selecting autofill options -- you can remove this code if you do not want to override the browser style.  */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,


div.listaProductosAdmin {
    height: auto;
}

div.listaProductosAdmin h2 {
    text-align: center;
    margin-top: 30px;
}

div.listaProductosAdmin table {
    width: 75%;
    margin: 30px auto;
    border: solid 2px var --naranja-Fuerte;
    border-collapse: collapse;
    padding: 20px;
    max-width: 1050px;
}

div.listaProductosAdmin table thead {
    border: solid 2px var(--black);
}

div.listaProductosAdmin table thead tr {
    background-color: var(--black);
    color: white;
    font-size: 18px;
}

div.listaProductosAdmin table thead tr th {
    padding: 20px;
}

div.listaProductosAdmin table tbody tr th,
div.listaProductosAdmin table tbody tr td {
    font-size: 18px;
    text-align: center;
    text-decoration: dotted;
    border: solid 2px var(--amarilloEstrellas);
    padding: 20px;
    border-radius: 20px;
}

div.listaProductosAdmin table tbody tr td div {
    height: auto;
    width: auto;
}

div.listaProductosAdmin table tbody tr td div a i {
    color: var(--negro);
    font-size: 25px;
    margin-bottom: 10px;
}

div.listaProductosAdmin table tbody tr td form button{
    border: none;
    background-color: white;
}

div.listaProductosAdmin table tbody tr td form button i{
    font-size: 25px;
    color: var(--negro);
    cursor: pointer;
}