/* para toda la pagina*/
.page-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--grisOscuro);
    width: 100%;
}

.contact-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 0px 30px;
    color: var(--white);
}

.contact-article h2 {
    color: var(--white);
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    border-bottom: 3px solid var(--rosa);
}
.article-div{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.contact-article p{
    padding: 10px;
    text-align: justify;
    font-size: 18px;
}
.contact-article div{
    font-size: 12px;
    text-align: justify;
}
.contact-article div h4{
    font-size: 20px;
    color: var(--rosa);
    font-weight: normal;
    border-bottom:1px solid var(--rosa);
}
.contact-article div h4 i{
    font-size: 25px;
    color: var(--rosa);
    padding: 10px;
}
.contact-article div p{
    text-align: center;
    font-size: 16px;
    padding: 10px;
}
.article-div p a{
    font-size: 14px;
    color: var(--rosa);
}
.article-p a{
    color: var(--white);
    font-size: 16px;
}
.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.form-input{
    padding: 5px;
    color: var(--white);
    text-align: center;
    display: block;
}
.form-input input{
border-radius: 36px;
border: none;
width: 100%;
padding: 15px;
background-color: var(--rosa);
color: var(--white);
outline-color: rgba(49, 138, 172, 0);
transition: all 0.5s ease-in;
}
.form-input input:hover{
box-shadow: 0 4px 16px var(--rosa);
}
.form-input textarea{
    border-radius: 10px;
    border: none;
    padding: 15px;
    width: 100%;
    background-color: var(--rosa);
    color: var(--white);
    outline-color: rgba(49, 138, 172, 0);
    transition: all 0.5s ease-in;
    }
.form-input textarea:hover{
    box-shadow: 0 4px 16px var(--rosa);
    }
    
    .form-input-button button{
        background-color: var(--rosa);
        color: var(--grisOscuro);
        border-radius: 9px;
        border-style: none;
        padding: 10px;
        margin: 10px;
        transition: all 0.5s ease-in;
        font-size: 14px;
    }
    .form-input-button button:hover{
        color: var(--white);
        box-shadow: 0 4px 16px var(--rosa);
        background-color:var(--grisOscuro);
    }
    

.contact-map{
    display: flex;
    justify-content: center;
}
.contact-map iframe{
    padding: 10px;
    margin: 30px 20px;
}

/* Compu*/

@media(min-width: 1024px) {

    .page-contact{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .contact-article {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }
 
    .contact-map{
        width: 100%;
        flex-direction: column;
        justify-content: start;
        margin-right: 20px;
    }
    .contact-map iframe{
      width: 100%;
    }
}