header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ECE5DF;
}

/* LOGO */

.header .logo img {
    width: 80px;
    
}

/* NAVEGADOR */

.header .navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 32px;

}

.header .navbar .nav_links {
    display: none;
    list-style: none;
    font-size: 16px;
    justify-content: center;
    align-items: center;
}

li a {
    color: black;
    font-weight: 600;
    padding: 10px;
    margin: 0px 10px;
}

/* BUSCADOR */

.header .nav-search {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .nav-search .nav-search-input {
    height: 25px;
    padding: 15px;
    width: 100%;
    font-size: 14px;
    border: none;
    border-radius: 20px;
}

.header .nav-search .lupa {
    width: 20px;
    height: 20px;
    transform: translateX(-30px);
}


/* MENU HAMBURGUESA */

.header .button-caja {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  
  .header .nav-burguer {
    position: fixed;
    top: 0;
    left: 0;
    height: 70vh;
    width: 60%;
    margin-left: -100%;
    transition: all 0.2s linear;
    background-color: var(--grisOscuro);
    z-index: 100;
    border-bottom: 2px solid var(--rosa);
    border-right: 2px solid var(--rosa);
  }
  
  .header .nav-burguer.show {
    margin-left: 0;
  }
  
  .header .div-nav-burguer {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
  }
  
  .header .link-burguer {
    margin-top: 2rem;
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
    position: relative;
    font-size: 18px;
  }
  
  .header .link-burguer::after {
    position: absolute;
    content: "";
    background-color: var(--rosa);
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 3px;
    transition: 0.3s ease all;
  }
  
  .header .link-burguer:hover::after {
    width: 100%;
  }
  
  .header .menu-button {
    z-index: 200;
    width: 40px;
    height: 40px;
    border: none;
    display: flex;
    background: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  
  .header .menu-button span {
    width: 37px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: var(--black);
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: all 0.2s linear;
  }
  
  .header .menu-button.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: var(--black);
  }
  
  .header .menu-button.close span:nth-child(2) {
    transform: rotate(-45deg) translate(-8px, 5px);
  }
  
  .header .menu-button.close span:nth-child(3) {
    display: none;
  }
  

/* ICONOS */

.header .icons {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 15px;

}

/* CARRITO */

.header .icons .cart {
    color: black;
    font-size: 25px;
    
}

/* USER */

.header .icons .user {
    color: black;
    font-weight: 600;
    font-size: 25px;
    margin-left: 25px;
}



/* TABLET */

@media (min-width: 768px) {

    header {
        height: 58px;
        padding: 10px;
    }

    .header .logo img {
        width: 100px;
        display: flex;
        flex-wrap: wrap;
    }

    .header .nav-search {
        width: 50vw;
        
    }



}

/* LAPTOP */

@media (min-width: 1024px) {

    header {
        height: 58px;
    }

    .header .logo img {
        width: 100px;
        margin-left: 15px;
        
    }

    .header .navbar .nav_links {

        display: flex;
        list-style: none;
        font-size: 18px;
    }


    .header .nav-search .nav-search-input {
        
        width: 100%;
        
    }

    
    .header .button-caja {
        display: none;
    }
    .header .icons {
        display: flex;
        
    }
}