.login{
    background-image: url(/images/img-registercel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.login-box{
    width: 70%;
    margin: auto;
    background-color: rgba(128, 128, 128, 0.7);
    text-align: center;
    padding: 10px;
}
.login-box h2{
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
    text-align:justify;
    text-transform: uppercase;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 10px;
    margin: 0px 20px;
}

.login-info{
    margin:10px;
    text-align: justify;
    font-size: 14px;
}

.login-info input{
    border-radius: 5%;
    border: none;
    padding: 15px;
    background-color: var(--grisOscuro);
    color: white;
    width: 100%;
}

#recordarme{
    width: 10%;
    padding: 5px;
    text-align: justify;
}

.login-info a{
    padding: 5px;
    font-size: 12px;
    color: black;
    text-align: center;
    display: block;
}

.login-pregunta{
    text-align: justify;
    font-size: 10px;
}

.login-info label{
    font-size: 12px;

}

.login-info button{
    padding: 10px;
    font-size: 14px;
    border-radius: 10%;
    display: inline;
    color: white;
    background-color: var(--grisOscuro);
}

.login-info p{
    font-size: 12px;
}

.login-info-direcciones{
    text-align: justify;
    padding: 5px;
    margin: 10px;
    font-size: 12px;
}

.login-info-direcciones a{

}

.login-direccion-rojo button{
    background-color: red;
    color: white;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
    margin: 5px;
    font-size: 14px;
}

.login-direccion-azul button{
    background-color: blue;
    color: white;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
    margin: 5px;
    font-size: 14px;
}

@media (min-width: 480px){
    .login{
        background-image: url(/images/img-register-tablet.jpg);
    }
   
}

@media (min-width: 1024px){
    .login{
        background-image: url(/images/img-register-compu.jpg);
    }
}