
/* main catalogo */
/* body{
    background-image: url(/images/fondoHome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
} */
main.main-catalogo h1.titulo-catalogo{
    text-align: center;
    font-size: var(--title);
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
    margin: 25px 0 5px 0;
}
.category_list{
    display: none;
    
}

main.main-catalogo hr.hr-separacion{
    margin-bottom: 10px;
}
div.container-catego{
    display:flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    text-align: center;
    font-size: 14px;
}

main.main-catalogo article.productos-catalogo{
    margin: 15px 15px;
}
main.main-catalogo div.orden-info{
    margin: 10px;
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.orden-info input{
    padding: 15px;
    color: var(--black);
    background-color: var(--rosa);
    width: 100%;
    border: none;
}
main.main-catalago section.section-producto article.productos-catalago div.foto-catalago img{
    width: 350px;
    height: 200px;
    
}
.orden::lista{
    display: flex;
    flex-direction: row-reverse;
}
.transition {
    -webkit-transform: scale(1.8); 
    -moz-transform: scale(1.8);
    -o-transform: scale(1.8);
    transform: scale(1.8);}
main.main-catalogo article.productos-catalogo div.foto-catalogo {
    box-shadow: 0 0 8px 2px rgba(8, 8, 8, 0.918);
    background-color: rgba(240, 195, 169, 0.808);
    box-shadow: 5px 5px 20px #111111de,
             -5px -5px 20px #070707e7;
    border-radius: 50%;
}

main.main-catalogo article.productos-catalogo div.foto-catalogo:hover {
    text-shadow: 2px 2px 5px rgba(228, 131, 131, 0.918);
    transform: scale(1.02);
}

article.detalles-catalogo{
    margin-left: 12px;
    margin-top: 8px;
}

section.section-producto article.detalles-catalogo p{
    font-size: 14px;
    color: white; text-shadow: black 0.1em 0.1em 0.2em
}

main.main-catalogo section.section-producto{
    display: flex;
    flex-wrap: wrap; 
    max-width: 420px;
    margin: 0 auto;
}

main.main-catalogo section.section-producto article.productos-catalogo {
    max-width: 150px;
    margin: 10px auto;  /* cambia en tablet */
    justify-content: center; 
}

section.section-producto article.detalles-catalogo p.precio-catalogo{
    font-size: 18px;
    font-weight: 600;
}

button.add-button {
    background-color: var(--black);
    border-radius: 9px;
    border-style: none;
    padding: 6px;
    transition: all 0.5s ease-in;
}

button.add-button:hover{
    background-color: var(--rosa);
    
}

button.add-button p.add{
    font-size: 10px;
    font-weight: 600;
    font-family: var(--title); 
    margin-left: -4px;
}
.carrusel-items {
    display: none;
}

/* end MAIN CATALOGO */

/* media querie version tablet */
@media (min-width: 768px){

    main.main-catalogo h3.titulo-catalogo{
        font-size: 28px;
    }
    div.container-catego  div.orden-info{
        display:none;
        
    }
    div.category_list{
        display: inline;
    }
    .orden__lista{
        list-style-type: none;
        text-align: center
      }
      
     .orden__lista_li {
        background-color: #F6E3CA;
        border: #7a6868 2px solid;
        border-radius: 6px;
        display: inline;
        margin-right: 10px;
        text-transform: uppercase;
        text-align: center;
         width: 100%;
      }
      .orden__lista_li:hover{
        background-color: var(--grisOscuro);
         color: #D7C8B6;
      }  
    main.main-catalogo section.section-producto{
        justify-content: space-around;
        max-width: fit-content;
        margin: 0 auto;
    }  
    main.main-catalogo section.section-producto article.productos-catalogo {
        max-width: 240px;
        width: 50%;
        margin: 15px auto;
    }
    button.add-button {
        margin-left: 50px;
    }
    /* CAROUSEL */
    .carrusel {
        
        display: flex;
        align-items: center;
      }
      
      .carrusel-items {
        display: flex;
        overflow-x: hidden;
        overflow-y: hidden;
        padding: 30px 0px;
      }
      
      .carrusel-item {
        min-width: 300px;
        max-width: 300px;
        height: 200px;
        outline: 2px solid black;
        cursor: pointer;
      }
      
      .carrusel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
    .carrusel-item:hover {
        transform: scale(1.2);
      } 
}

/* media querie version DESKTOP */

@media (min-width: 1024px){
    main.main-catalogo section.section-producto{
        padding: 0 30px;
    }  

    main.main-catalogo article.productos-catalogo {
        width: 60%;
}

}