body{
  background-color: var(--grisOscuro);
}

main div.detalle-producto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 00.5rem;
  padding: 0.5rem 0;
  font-size: var(--price);
}

main div.detalle-producto div.imagenes section.imagen-principal {
  width: 100%;
  display:flex;
  position: relative;
  align-items: center;
  justify-content: center;
 
}

main div.detalle-producto div.imagenes section.imagen-principal img {
  border-radius:6px;
  flex-wrap: wrap;
  width: 100%;
  max-width: 400px;

}


main div.detalle-producto div.contenido-text {
  border-radius: 6px;
  margin: 1rem 0.1rem;
  width: 100%;
  padding: 0.4rem 1rem;
  box-shadow: 2px 2px 2px 2px var(--black);
}

main div.detalle-producto div.contenido-text section.detalles h1{
  text-align: center;
  font-size: var(--title);
  color:var(--black);
  font-weight:bolder;
}

main div.detalle-producto div.contenido-text section.detalles p {
  text-align: center;
  font-size: var(--discounts-descriptions);
  color: rgb(214, 209, 209); text-shadow: black 0.1em 0.1em 0.2em;
}
main div.detalle-producto div.contenido-text section.detalles p.descripcion-libro{
  text-align: initial;
  font-size: larger;
}
main div.detalle-producto div.contenido-text section.detalles div.price{
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
  color: rgb(221, 148, 148); text-shadow: black 0.1em 0.1em 0.2em
}

main div.detalle-producto div.contenido-text section.detalles p input {
  width: 1.5rem;
  text-align: center;
}

main div.detalle-producto div.contenido-text section.detalles div.a単adir-carrito {
  border-radius:1px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0.5rem 0;
  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 80px;
  text-shadow: 1px 1px 6px rgb(7, 6, 6);
  
}
#codigopostal{
border-radius:10px;
font-size: 0.9rem;
}
main div.detalle-producto div.contenido-text{
  border: 2px solid var(--rosa);
}
main div.detalle-producto button.add-button2{
  display: flex;
  background-color: var(--black);
  justify-content: center;
  border-radius: 9px;
  border-style: none;
  padding: 6px;
  transition: all 0.5s ease-in;
}
button.add-button {
  background-color: var(--black);
  border-radius: 9px;
  border-style: none;
  padding: 6px;
  transition: all 0.5s ease-in;
}

button.add-button:hover{
  background-color: var(--rosa);
  
}

button.add-button p.add{
  font-size: 10px;
  font-weight: 600;
  font-family: var(--title); 
  margin-left: -4px;
}

main div.detalle-producto div.contenido-text section.detalles div.medio-pago{
  display:flex;
  align-items: center;
  justify-content: center;

}

main div.detalle-producto div.contenido-text section.detalles div.medio-pago a.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: fit-content;
    padding: 5px;
    transform: rotateY(-169deg);
    top: -15px;
    right: 20px;
    font-size: var(--title);

}
main div.detalle-producto div.contenido-text section.detalles div.descripcion h3.autor{
  font-size: var(--title);
  text-align: center;
  color: var(--white);
  cursor: pointer;
  font-style: italic;
}
main div.detalle-producto div.contenido-text section.detalles div.descripcion p.descripcion-texto{
  font-size: var(--paragraphs);
  font-style:inherit;


}
main div.detalle-producto div.contenido-text section.detalles div.descripcion p.caractericas-libro{
  text-align: center;
  font-style: italic;
  color: var(--white);
}
main section.segunda-section{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 5px;
  justify-content: space-around; 

}

main div.titulo-rel h4{
  font-size: 2.0rem;
  color:var(--white);
  margin-bottom: 25px;
  text-transform: uppercase;
  text-align: center;
}
main section.segunda-section article.producto-rel div.box-img{
  background-color: var(--rosa);
  border-radius: 60%;
  box-shadow: 5px 5px 10px #0e0d0d,
             -5px -5px 10px #070707;
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 10px;
  margin: 10px;
  
}
main section.segunda-section article.producto-rel div.producto-favorito h5.name-product{
  color:  white; text-shadow: black 0.1em 0.1em 0.2em;
  font-size: var(--title);
  text-align: center;
}
main section.segunda-section article.producto-rel div.box-img img{
  width: 100%
}
main section.segunda-section article.producto-rel{
  width: 40%;
  height: 60%;
  border:1px solid var(--rosa);
 box-shadow : 0px 0px 10px rgb(218, 211, 211);
 margin-bottom: 10px;
}
main section.segunda-section article.producto-rel:hover{
 box-shadow: 0 4px 16px var(--rosa);
 transition: all 0.2s ease
}
main section.segunda-section article.producto-rel div.text-detalle p{
  text-align: center;
    font-size: 18px;
  font-weight: 200;
  color: rgb(218, 213, 213); text-shadow: black 0.1em 0.1em 0.2em
  }
/* CAJA DEL SLIDER */
.caja__slider{
  display: none;
}
/* CAJA DE COMENTARIOS */
.testimonios{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}
.testimonios__header{
  margin: 50px 0;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonios__header h1{
  border-radius: 10px;
  font-size: var(--title);
  font-weight: 500;
  background-color: black;
  color:white;
  padding: 10px 20px

}
.testimonios__header span{
  font-size: 2.2rem;
  color:var(--white);
  margin-bottom: 25px;
  text-transform: uppercase;

}
.testimonios__contenedor{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.testimonios_caja{
  width: 500px;
  box-shadow: 2px 2px 30px rgba(49, 138, 172, 0.1);
  background-color: var(--white);
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}
.perfil-img{
  width:50px;
  height:50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 30px;
}
.perfil-img img{
  width: 100%;
  height: 100%;
  object-fit:center ;
}
.perfil{
  display: flex;
  align-items: center;
}
.name-user{
  display: flex;
  flex-direction: column;
}
.name-user strong{
  color:var(--black);
  font-size: 1.3rem;
}
.name-user span{
  color:grey;
  font-size: 1.3rem;
}
.rese単a{
  color:orange;
  margin:3px;
}
.caja-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.comentarios__clientes{
  color:rgb(110, 95, 95)
}
.caja__comentario{
  border-radius: 10px;
  display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.boton__comentar{
  background-color: var(--black);
  color:var(--white);
  border-radius: 9px;
  border-style: none;
  padding: 6px;
  box-shadow: 2px 2px 7px #020202,
             -2px -2px 7px #070707;
  transition: all 0.5s ease-in;
  margin-bottom: 6px;
}
.boton__comentar:hover{
  background-color: var(--rosa);
}
::selection{
  color:var(--white);
  background-color: #252525;
}
/* Valoracion del libro */
#form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
  }
  
  #form label {
  font-size: 20px;
  }
  
  input[type="radio"] {
  display: none;
  }
  
  label {
  color: grey;
  }
  
  .clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
  color: orange;
  }
  
  input[type="radio"]:checked ~ label {
  color: orange;
  }

/* Media queries */
/* Tablet */
@media screen and (min-width:768px){
  main div.detalle-producto div.imagenes {
      display: flex;
      flex-direction: row-reverse;
      
  }
  main div.detalle-producto div.contenido-text section.detalles h1{
    text-align: inherit;
    font-size: var(--title);
    color:var(--black);
    font-weight:bolder;
    
  }
  main div.detalle-producto div.contenido-text section.detalles p {
    flex-direction: row;
    text-align: inherit;
    font-size: var(--discounts-descriptions);
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
    font-style: oblique;
  }
  main div.detalle-producto div.contenido-text section.detalles div.price{
    text-align: inherit;
    color: rgb(221, 148, 148); text-shadow: black 0.1em 0.1em 0.2em 
   }
   main div.detalle-producto div.contenido-text section.detalles div.a単adir-carrito{
     justify-content: flex-start;
   }
   main div.detalle-producto div.contenido-text section.detalles div.medio-pago{
     display: flex;
     justify-content:flex-start;
   }
  
  main section.segunda-section{
    
      display: flex;
      width: 100%;
      height: 60%;
      max-width: 100%;
      flex-wrap: nowrap;
      flex-direction: row;
  }
  main section.segunda-section article.producto-rel{
    display: flex;
    flex-direction:column;
     height: 60%;
     border:1px solid var(--rosa);
    box-shadow : 0px 0px 10px rgb(214, 155, 155);
    margin-bottom: 10px;
    width: 50%;
    margin: 6px;
   }
   main section.segunda-section article.producto-rel div.producto-favorito h5.name-product{
    color:  white; text-shadow: black 0.1em 0.1em 0.2em;
    font-size: var(--title);
    text-align: center;
    
  }
  /* CAJA DEL SLIDER */
.caja__slider{
  display: flex;
 justify-content: space-around;

}
  
  .testimonios{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .testimonios__contenedor{ 
      display: flex;
      align-items: center;
      flex-direction: column;
  }
  }
   
   
    
    
    
  


/* desktop */
@media screen and (min-width:1024px){

  main div.detalle-producto {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      max-width: 100%;
  }


  main div.detalle-producto div.imagenes {
      display: flex;
      flex-direction: row-reverse;
      width: 40%;
      height: 60%;
      max-width: 50%;
      
     
      
  }
  main div.detalle-producto div.imagenes section.imagen-principal img{
    border-radius: 10px;
  }

  main div.detalle-producto div.contenido-text {
    border-radius:6px;
      margin:4px;
      width: 60%;
      padding:3px;
      box-shadow: 2px 2px 5px #d6c1c1,
             -2px -2px 5px #070707;
      
  }
  main div.detalle-producto div.contenido-text section.detalles div.a単adir-carrito {
    border-radius:1px;
    display: flex;
    justify-content:inherit;
    width: 100%;
    margin: 0.5rem 0;
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px rgb(7, 6, 6);
    
  }
  main div.detalle-producto div.contenido-text section.detalles h2{
    text-align: initial;
  }
  main div.detalle-producto div.contenido-text section.detalles p{
    text-align: left;
    color: white; text-shadow: black 0.1em 0.1em 0.2em
  }
  main section.segunda-section{
    display: flex;
    align-content: flex-start;
    padding: 5px;
    justify-content: space-between;
    box-shadow : 0px 0px 10px rgb( 100 , 100 , 100 )
  
  }
  main section.segunda-section article.producto-rel{
   width: 300px;
   border-radius: 16px;
 background: var(--grisOscuro);
 box-shadow: 15px 15px 30px #0f0f0f,
             -10px -10px 25px #070707;
   }
  main div.titulo-rel{
    
    font-size: 20px;
    text-align: center;
    
  }
  main section.segunda-section article.producto-rel div.box-img img{
    width: 100%;
  }
main section.segunda-section article.producto-rel div.text-detalle p{
text-align: center;
  font-size: 18px;
font-weight: 200;
color: rgb(230, 214, 214); text-shadow: black 0.1em 0.1em 0.2em
}
main section.segunda-section article.producto-rel div.producto-favorito h5{
  color:  white; text-shadow: black 0.1em 0.1em 0.2em;
  font-size: var(--title);
  text-align: center;
  
}
.testimonios{
  align-items: center;
  display: flex;
  flex-direction:column;
}
.testimonios__contenedor{
  display: flex;
  justify-content: space-around;
  flex-direction: unset;
}
#cajacomentarios{
  box-shadow: 10px 10px 20px #b37373,
             -10px -10px 20px #070707;
}
}