.register{
    background-image: url(/images/fondologin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}
 /* Caja contenedora de la seccion*/
.register-box{
    width: 80%;
    margin: auto;
    background-color: rgba(55, 55, 55, 0.8);
    text-align: center;
    padding: 20px;
    color: var(--white);
}
.register-box h2{
    font-size: 24px;
    font-weight: 600;
    padding: 10px;
    text-align: justify;
    text-transform: uppercase;
}
.register-box-img{
    padding: 10px;
}
.register-box-img{
    border-radius: 50px;
}
.register-box-user-img img{
    width: 200px;
    border-radius: 150px;
    border-color: 1px, var(--rosa) 1px;
}

/* caja contenedora del formulario*/
.register-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 0px 20px;

}

/* Div del formulario*/
.register-info{
    margin:10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.register-info input{
    padding: 15px;
    color: var(--black);
    background-color: var(--rosa);
    width: 100%;
    border: none;
    outline-color: rgba(49, 138, 172, 0);
    transition: all 0.5s ease-in;
}
.register-info input:hover{
    box-shadow: 0 4px 16px var(--rosa);
}

.register-info span{
    text-align: justify;
    font-size: 12px;
    color: red;
}

.register-info select{
    color: var(--black);
    background-color: var(--rosa);
    font-size: 12px;
    padding: 13px;
    width: 100%;
    outline-color: rgba(49, 138, 172, 0);
    transition: all 0.5s ease-in;
}
.register-info select:hover{
    box-shadow: 0 4px 16px var(--rosa);
}

/* Div de las preferencias*/
.register-eleccion{
    margin: 20px;
    width: 100%;
    flex: wrap;
}

.register-eleccion ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding-bottom: 20px;
    font-size: 16px;

}
.register-eleccion ul input{
    margin: 5px;
    align-items: center;
}

/* Botones*/
.register-boton-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    margin-right: 10px;
    margin-top: 5px;
    font-size: 16px;
}

.register-button{
    background-color: var(--rosa);
    color: var(--grisOscuro);
    border-radius: 9px;
    border-style: none;
    padding: 10px;
    margin: 10px;
    transition: all 0.5s ease-in;
}
.register-button:hover{
    color: var(--white);
    box-shadow: 0 4px 16px var(--rosa);
    background-color:var(--grisOscuro);
}
.register-button a:hover{
    color: var(--white);
}


@media (min-width: 480px){

    .register-box h2{
        text-align: center;
    }
    

    .register-info input{
        width: 90%;
    }

    .register-info select{
        width: 90%;
    }
}

@media (min-width: 768px){

    .register-form-info{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        flex-wrap: wrap;
        width: 100%;
    }

    .register-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 40%;
    }

    .register-info input{
        width: 100%;
    }

    .register-info select{
        width: 100%;
    }
    .register-info p{
        margin: auto;
    }

    .register-eleccion{
        display: flex;
        flex-direction: row;
        width: 80%;
        margin-left: 12%;
        text-align: start;
    }

    .register-eleccion ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: 20px;
        width: 80%;
    }

    .register-eleccion ul li{
        width: 40%;
    }

    .register-condiciones{
        width: 100%;
    }

    .register-boton-box{
        align-content:space-around;
        width: 60%;
        margin: auto;
    }
    .register-button{
        margin-right: 20px;
    }

}


@media (min-width: 1024px){
    
    .register-box{
        display: flex;
        flex-direction: column;
    }

    .register-box h2{
        order: -1;
    }
    .register-box p{
        order: -1;
    }
}
