.register{
    background-image: url(/images/img-registercel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.register-box{
    width: 80%;
    margin: auto;
    background-color: rgba(128, 128, 128, 0.9);
    text-align: center;
    padding: 20px;
}
.register-box h2{
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
    text-align: justify;
    text-transform: uppercase;
}

.register-box p{
    font-size: 14px;
    margin: 5px;
    padding: 5px;
    text-align: justify;
}

.register-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    margin: 0px 20px;

}

.register-info{
    margin:20px;
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.register-info input{
    padding: 10px;
    color: white;
    background-color: var(--grisOscuro);
    width: 100%;
}

.register-info span{
    text-align: justify;
    font-size: 10px;
    color:firebrick;
}

.register-info select{
    color: white;
    background-color: var(--grisOscuro);
    font-size: 12px;
    padding: 10px;
    width: 100%;
}


.register-eleccion{
    margin: 20px;
    width: 100%;
    flex: wrap;
}

ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding-bottom: 20px;
    font-size: 16px;

}
ul input{
    margin: 5px;
    align-items: center;
}

#register-checkbox{
    display: flex;
    flex-direction: column;
    align-content:flex-start;
    text-align:left;
}

#register-checkbox input{
    display: inline;
    text-align:center;
}

.register-condiciones{
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin-left: 10%;
    margin-bottom: 5px;
}

.register-boton-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding: 10px;
    margin-right: 10px;
    margin-top: 5px;
    font-size: 16px;
}

.register-button{
    border: 1px solid black;
    padding: 10px;
    background-color: var(--grisOscuro);
    color: white;
    margin: auto;
}

.register-boton-rojo{
    padding: 10px;
    font-size: 14px;
    border: 1px solid;
    background-color:  red;
    color: white;
    margin: auto;
}

.register-boton-azul {
    padding: 10px;
    font-size: 14px;
    border: 1px solid;
    background-color: blue;
    color: white;
    margin: auto;
}


@media (min-width: 480px){
    .register{
        background-image: url(/images/img-register-tablet.jpg);
    }

    .register-info input{
        padding: 5px;
        width: 90%;
    }

    .register-info select{
        width: 90%;
    }
}



@media (min-width: 768px){
    .register-form-info{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        flex-wrap: wrap;
        width: 100%;
    }

    .register-info{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 40%;
    }

    .register-info input{
        padding: 10px;
        width: 100%;
    }

    .register-info select{
        width: 100%;
    }
    .register-info p{
        margin: auto;
    }

    .register-eleccion{
        display: flex;
        flex-direction: row;
        width: 80%;
        margin-left: 12%;
        text-align: start;
    }

    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: 20px;
        width: 80%;
    }

    ul li{
        width: 40%;
    }

    .register-condiciones{
        width: 100%;
    }

    .register-boton-box{
        align-content:space-around;
        width: 60%;
        margin: auto;
    }
    .register-button{
        margin-right: 20px;
    }

    .register-boton-rojo{
        display: flex;
        direction: row;
        margin-right: 20px;
    }

    .register-boton-azul{
        display: flex;
        direction: row;
        margin: 1px;
    }

}


@media (min-width: 1024px){
    .register{
        background-image: url(/images/img-register-compu.jpg);
    }

    .register-box{
        display: flex;
        flex-direction: column;
    }

    .register-box h2{
        order: -1;
    }
    .register-box p{
        order: -1;
    }
}
