<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head',{ title : 'Admin' }) %>

    <body class="index">

        <%- include('./partials/header_admin') %>
          
            <main>
             <h1>Administrador</h1>
            </main>
            <%- include('./partials/footer') %>

    </body>

</html>