<!DOCTYPE html>
<html>
    <%- include('../partials/head', {
        title: 'Paginas Bellas || Creacion'
    }) %>
  <body>
    <%- include('../partials/header') %>
    <main class="main-creaEdit">
        <section class="creaEdit-section">
            <form method="POST" action="" class="creaEdit-form">
                <h2>Nuevo producto</h2>
                <div class="creaEdit-div">
                    <input type="text" id="name" name="name" placeholder="Nombre">
                    <label for="titulo"></label>
                </div>
                <div class="creaEdit-div">
                    <input type="text" id="author" name="author" placeholder="Autor/a">
                    <label for="autor"></label>
                </div>
                <div class="creaEdit-div">
                    <textarea id="description" name="description" placeholder="Descripcion"></textarea>
                    <label for="descripcion"></label>
                </div>
                <div class="creaEdit-div">
                    <label for="img"></label>
                    <input class=" form-control" type="file" id="img" name="img" accept=".jpg, .png" multiple>
                </div>
                <div class="creaEdit-div">
                    <input type="text" id="formato" name="formato" placeholder="Formato">
                    <label for="formato"></label>
                </div>
                <div class="creaEdit-div">
                    <label for="Categorias"></label>
                    <select name="Categorias" id="Categorias">
                    <option value="">-Seleccione la categoria correspondiente</option>
                    <option value="1">Literatura</option>
                    <option value="2">infatiles</option>
                    <option value="3">Novela</option>
                    <option value="4">Ficcion</option>
                    <option value="5">No Ficcion</option>
                    <option value="6">Juvenil</option>
                    <option value="7">Romance</option>
                    <option value="8">Terror</option>
                    <option value="9">Suspenso</option>
                    <option value="10">Comic</option>
                    <option value="11">Mangas</option>
                    <option value="12">Cuentos</option>
                    <option value="13">Arte</option>
                    <option value="14">Diseño</option>
                    <option value="15">Historia</option>
                    <option value="16">Filosofia</option>
                    
            </select>
                </div>
                <div class="creaEdit-div">
                    <input type="text" id="price" name="price" placeholder="Precio">
                    <label for="precio"></label>
                </div>
                <div class="creaEdit-div">
                    <input type="text" id="cuotas" name="cuotas" placeholder="cuotas">
                    <label for="cuotas"></label>
                </div>
                <div class="creaEdit-button">
                    <button type="submit">Guardar</button>
                    <button type="reset">Limpiar</button>
                    <!-- <button type="reset"  class="">
                        <a href="/products/creation">Limpiar</a>
                    </button>
                    <button type="submit" class="">
                        <a href="/products/creation">Guardar</a>
                    </button> -->
                </div>
            </form>
        </section>
    </main>
    <%- include('../partials/footer') %>
  </body>
  
</html>